@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
    width: 10px; 
    height: 20px; 
  }
  
  ::-webkit-scrollbar-track {
    background: #fff; 
    padding: 2px;
    border-radius: 0; 
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #ffbb00; 
    border-radius: 0px; 
    border: 2px solid #fff; 
  }

  .swiper-pagination-bullet{
    border-radius: 0 !important;
    width: 25px !important;
    height: 5px !important;
  }
  .swiper-pagination-bullet-active{
    background-color: white !important;
  }
  .swiper-pagination{
    text-align: left !important;
  }
  
  
